/**************************/
/**         FORM         **/
/**************************/
.section {
	background: #3e4c68;
	color: #dbdbdb;
/*	margin: 17px;*/
/*	width: 30%;*/
/*	height: 271px;*/
}
.section .checked {
	float: right;
	content:"\2714";
	height: 50px;
	margin-top: -15px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
/*	background-color: grey;*/
	border-left: 2px solid #3e4c68;
	
}
h2 {
	background: rgba(0,0,0,0.5);
	padding-top: 15px;
	padding-left: 10px;
	height: 50px;
	color: #fff;
}
fieldset 
{
    width: 31%;
    float: left;
    margin: 10px;
    border: none;
    background-color: #3e4c68;
    padding: 0;
}
.field
{
    height: 50px;
    padding-left: 10px;
	padding-top: 17px;
}
.field:not(:last-child) 
{
    border-bottom: 2px solid rgba(0,0,0,0.2)
}
/*editor-label label and editor-field input is messing up the checkboxes for weeks, perhaps add class to all others, and the css-so e.g. editor-label label.label... whilst checkboxes css is causing it to not display*/
.editor-label label{
	float: left;
	width: 50%;
}
.editor-field input{
	float: right;
	width: 50%;
	height: 48px;
	margin-top: -17px;
	background-color: rgba(0,0,0,0.3);
}
.filter{
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,0,0.3);
	background: url('http://www.tc-gaming.tk/img/search.png') rgba(0,0,0,0.3) no-repeat 100% 50%;
	background-size: 25px;
	padding-right: 30px;
/*	outline: #dbdbdd;*/
	color: #dbdbdd;
	padding-left: 20px;
	margin-left: -10px;
	min-width: 506px;
}
#no_students, #min_capacity {
	width: 100.6%;
	height: 50px;
	background: rgba(0,0,0,0.3);
/*	outline: #dbdbdd;*/
	border: none;
	color: #dbdbdd;
	padding-left: 10px;
}
input[type=text], input[type=textarea] {
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  outline: none;
 	border-top: 1px solid rgba(0,0,0,0);
	border-left: 1px solid rgba(0,0,0,0);;
	border-right: 1px solid rgba(0,0,0,0);;
	border-bottom: 2px solid rgba(0,0,0,0);
}
input[type=text]:focus, input[type=text]:focus {
/*  box-shadow: 0 0 5px rgba(0,0,0,0.5);	*/
	border-top: 1px solid #dbdbdd;
}
input[type=number] {
	outline: none;
}
.section select {
	width: 100%;
}
select {
    -moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
    text-indent: 0.01px;
    text-overflow: '';
	border: 0;
	height: 48px;
	width: 101.7%;
/*	padding-left: 10px;*/
	margin-left: -10px;
	margin-top: -21px;
	background-color: rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.5) url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 99% 50%;
	color: #3e4c68;
/*	outline: #dbdbdd;*/
}
select:focus {
	outline: none;
}
button {
	background: rgba(0,0,0,0.5);
	border: none;
	padding: 10px;
	color: #dbdbdd;
	width: 80px;
	border-radius: 3px;
	cursor: pointer;
}
button#clearWeeks, button#reset {
	background: rgba(255,0,0,0.6);
}
button#submit {
	background: rgba(0,210,0,0.6);
}
#additional {
/*	resize: vertical;
	max-height: 200px;*/
}