/**************************/
/**         FORM         **/
/**************************/
.section {
	background: #3e4c68;
	color: #dbdbdb;
/*	margin: 17px;*/
/*	width: 30%;*/
/*	height: 271px;*/
}
.section .checked {
	float: right;
	content:"\2714";
	height: 50px;
	margin-top: -15px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
/*	background-color: grey;*/
	border-left: 2px solid #3e4c68;
	
}
h2 
{
    
	background: rgba(0,0,0,0.5);
	padding-top: 15px;
	padding-left: 10px;
	height: 50px;
	color: #fff;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
fieldset 
{
    width: 32%;
    float: left;
    margin: 10px;
    border: none;
    background-color: #3e4c68;
    padding: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

form input.text-box.single-line
{
    padding-left:1em;
    width:auto;
    background: rgba(0,0,0,0.3);   
    min-width: 100%;
    max-width: 100%;
    display: inline-block;
    height: 100%;
	color: #fff;
	
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}

.checkbox-label-container
{
    padding:0.2em;
    width:49%;
    float:left;
}
.checkbox-container
{
    padding:0.2em;
    width:49%;
    float:right;
}

.field
{
    /*height: 50px;*/
    background-color: #3e4c68;
    display: block;
    height: 4em;
	color: #fff;
    /*padding-left: 10px;
    padding-top: 17px;*/
}
.field:last-child {
    -webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.field:not(:last-child) {
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.field:last-child .editor-label:last-child {
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}
.field:last-child .editor-field:last-child {
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}
.field:last-child select:last-child {
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.field:last-child .editor-field:last-child select:last-child {
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 0px;
}
.field:last-child .editor-label:last-child select:last-child {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 6px;
}
.buttons-wrapper
{
    width:100%;
/*	text-align:justify; */
	text-align: center;
}

.buttons-wrapper.bar 
{    
    padding-left:30%;
    padding-right:30%;
    padding-top: 15px;
    height:100%;
	background: rgba(0,0,0,0.5);
	color: #fff;
}

.buttons-wrapper div
{
    display:inline-block;
}

.buttons-wrapper:after
{
    content:"";
    width:100%;
    display:inline-block;
    position:relative;
}

/*editor-label label and editor-field input is messing up the checkboxes for weeks, perhaps add class to all others, and the css-so e.g.  label.label... whilst checkboxes css is causing it to not display*/

.editor-label 
{
    padding:1.5em;
    min-width: 24%;
    max-width: 24%;
    display: inline-block;
    height: 100%;
}

.editor-field 
{
    padding:0;
    width:auto;
    background:#3e4c68;   
    float: right;
    min-width: 75%;
    max-width: 75%;
    display: inline-block;
    height: 100%;
}

.editor-field-inner
{
    float:right;
    padding:1.5em;
    margin-right:30px;
}

.editor-field input:not([type='checkbox']) {
	/*height: 48px;*/
	background-color: rgba(0,0,0,0.3);
}

.logInLabel {
	width: 30%;
}
.filter{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	/*background: url('http://www.tc-gaming.tk/img/search.png') rgba(0,0,0,0.3) no-repeat 100% 50%;
	background-size: 25px;*/
	padding-right: 30px;
/*	outline: #dbdbdd;*/
	color: #dbdbdd;
	padding-left:1em;
	/*margin-left: -10px;*/
	/*min-width: 506px;*/
}
#no_students, #min_capacity {
	width: 100.6%;
	height: 50px;
	background: rgba(0,0,0,0.3);
/*	outline: #dbdbdd;*/
	border: none;
	color: #dbdbdd;
	padding-left: 10px;
}
input[type=text], input[type=textarea], input[type=password] {
  -webkit-transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -ms-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
  outline: none;
 	border-top: 1px solid rgba(0,0,0,0);
	border-left: 1px solid rgba(0,0,0,0);;
	border-right: 1px solid rgba(0,0,0,0);;
	border-bottom: 2px solid rgba(0,0,0,0);
}
input[type=text]:focus, input[type=text]:focus {
/*  box-shadow: 0 0 5px rgba(0,0,0,0.5);	*/
	border-top: 1px solid #dbdbdd;
}
input[type=number] {
	outline: none;
}
.section select {
	width: 100%;
}
form select {
    -moz-appearance: none;
	-webkit-appearance: none;
	border: 0;
    text-indent: 0.01px;
    text-overflow: '';
	border: 0;
	height: 100%;
	width: 100%;
	padding-left:0.65em;
/*	padding-left: 10px;*/
	/*margin-left: -10px;*/
	background-color: rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.5) url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 99% 50%;
	color: #3e4c68;
/*	outline: #dbdbdd;*/
}
form select.loading {
	background-color: rgba(255,255,255,0.5);
    background: rgba(255,255,255,0.5) url("images/ajax-loader.gif") no-repeat 99% 50%;
}
form select:focus {
	outline: none;
}
button {
	background: rgba(0,0,0,0.5);
	border: none;
	padding: 10px;
	color: #dbdbdd;
	width: 80px;
	border-radius: 3px;
	cursor: pointer;
}
button:hover {
	background: #dbdbde;
	color: #1F2634;
}
button#clearWeeks, button#reset, button#clearAll {
	background: rgba(255,0,0,0.6);
}
button#submit {
	background: rgba(0,210,0,0.6);
}
#additional {
/*	resize: vertical;
	max-height: 200px;*/
	/*margin-top: -17px;*/
	/*width: 101.7%;*/
}

.validation-summary-errors {
    width: 100%;
    height: 32px;
    background-color: #F55;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-top: -1px;
}

.success-message 
{
    width: 100%;
    height: 32px;
    background-color: #5F5;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-top: -1px;
}
.success-message ul li 
{
    width: 100%;
}div.checkbox-label-container.greatForm {
	padding: 8px;
}