@import url("http://fonts.googleapis.com/css?family=Lato");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	min-width:700px;
}
.tick, .cross {
	display: none;
}

h4 
{
    color:#dbdbdd;
}


:before,
:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: border-box;
}

body { 
  font: 14px/1 Lato, sans-serif;
/*  color: #3e4c68;*/
  background: #dbdbde;
	height: 100%;
	margin: 0 0 100px;
}
ul {
  list-style: none;
}
li 
{
    display:inline;
}
div.container {
	min-height:100%;
   position:relative;
   /*padding-bottom: 750px;*/
   margin: 0 0 100px;
}
header {
  border-top: solid 4px #dbdbdd;
/*  border-bottom: 1px solid #3e4c68;*/
  background: #3e4c68;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 99;
}
/*.list_grid {
	margin-top: 55px;
}*/
nav {
  width: 100%;
  margin: -6px auto 0;
  background: #3e4c68;
/*	float: right;*/
/*overflow: hidden;*/
	border-bottom: 2px solid #dbdbde;
}
nav ul {
/*  display: flex;*/
}

nav li {
  flex: 1;
	display: inline-block;
}
nav a, nav p.title {
/*	padding: 20px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	color: #dbdbdd;
	text-decoration: none;
}
nav ul li {
  position: relative;
}
nav ul a.menu, nav ul a.title, nav ul p.title {
  display: block;
  position: relative;
  z-index: 1;
}
nav a.menu {
	padding-left: 30px;
}
/*nav ul a.title:before, nav ul p.title:before {
  z-index: -1;
  top: -100%;
  left: 0;
  width: 100%;
  height: 105%;
  border-bottom: solid 4px #dbdbdd;
}*/
/*nav ul a.menu:before {
	z-index: -1;
	top: -104%;
	left: 0;
	width: 100%;
	height: 105%;
	border-bottom: solid 4px #dbdbdd;
	transition: .4s ease;
}
nav ul a.menu:hover:before {
  top: -13px;
}*/
nav ul a.active:before {
	top: 0px;
}
.active {
	background: rgba(0,0,0,0.5);
}
#dept {
	margin-left: 60px;
}
#dept span.fa {
	position: relative;
	left: -30px;
	font-size: 2em;
}
.round {
	position: relative;
	left: -4px;
	color: white;
	text-align: center;
}
.semester 
{
    text-align:center;
}
.length 
{
    text-align:center;
}
.startTime 
{
    text-align:center;
}
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #3e4c68;
	height: 50px;
	border-top: 2px solid #dbdbde;
	color: #dbdbde;
	margin-top: 0px;
}
p.menuRound 
{
    position: absolute;
    bottom: 2px;
    right: 20px;
    color: white;
}