@model IEnumerable<TimetableSystem.Models.Request>
@{
    ViewBag.Title = "Requests";
}
<h3>Your Requests</h3>

<p>
    Select from @Model.Count() requests:</p>
<ul>
    @foreach (var request in Model)
    {
        <li>@Html.ActionLink(request.ID.ToString(), "Edit", new { id = request.ID })</li>
    }
</ul>