<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit Modules | LUTS</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/requests.css" />
		<link rel="stylesheet" type="text/css" href="css/saved.css" />
		<link rel="stylesheet" type="text/css" href="css/availability.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/radio-checks.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/form.css" />
		<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
		<style>
			.module {
				width: 100%;
/*				margin-left: -14px;*/
				padding-left: 20px;
				margin-bottom: 2px;
				height: 50px;
				background: rgba(0,0,0,0.3);
			}
			.module_button {
				margin: 10px;
				float: right;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<header>
				<nav>
				
					<ul>
						<li class="dept">
							<a href="" id="dept" class="title"><span class="fa fa-desktop"></span><h3>Computer Science</h3></a>
							<p class="round">Priority Round</p>
						</li>
						<div class="menu">
							<li>
								<a href="index.html" class="menu">Request Form</a>
							</li>
							<li>
								<a href="requests.html" class="menu">Edit Requests</a>
							</li>
							<li>
								<a href="saved.html" class="menu">Edit Saved</a>
							</li>
							<li>
								<a href="modules.html" class="menu active">Edit Module</a>
							</li>
							<li>
								<a href="availability.html" class="menu">Room Availability</a>
							</li>
							<li>
								<a href="" class="title logout">Logout</a>
							</li>
						</div>
					</ul>
				</nav>
			</header>
			<ul class="list_grid">
				<li class="section one">
					<h2>Add Module</h2>
					<input type="text" class="module" name="module_code" placeholder="Enter Module Code"></input>
					<input type="text" class="module" name="module_title" placeholder="Enter Module Title"></input>
					<button class="module_button">Add Module</button>
				</li>
				<li class="section two">
					<h2>Edit Module</h2>
					<input type="text" class="filter" name="priority" placeholder="Filter Module"></input>
					<table>
						<tr class="bottom">
							<td>
								<select id="module_title" class="select"><option selected disabled>Select Module Title</option><option>Server Side Programming</option></select>
							</td>
						</tr>
						<tr class="bottom">
							<td>
								<select id="module_code" class="select"><option disabled selected>Select Module Code</option><option>COA101</option></select>
							</td>
						</tr>
					</table>
					<input type="text" class="module" name="new_module_title" placeholder="New Module Title"></input>
					<input type="text" class="module" name="new_module_title" placeholder="New Module Code"></input>
					<button class="module_button">Save Module</button>
				</li>
				<li class="section three">
					<h2>Delete Module</h2>
					<input type="text" class="filter" name="priority" placeholder="Filter Module"></input>
					<table>
						<tr class="bottom">
							<td>
								<select id="module_title" class="select"><option selected disabled>Select Module Title</option><option>Server Side Programming</option></select>
							</td>
						</tr>
						<tr class="bottom">
							<td>
								<select id="module_code" class="select"><option disabled selected>Select Module Code</option><option>COA101</option></select>
							</td>
						</tr>
						<tr>
							<td>
								<button style="float: right;">Delete Module</button>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</body>
</html>