.list_grid .grid {
			width: 98.6%;
		}
		.filter {
			/*padding-left: 10px;
			margin-right: -100px;
			position: relative;
			left: 7px;*/
			width: 200px;
		}
		select.select {
			width: 300px;
		}
		table.requests {
			text-align: center;
		}
		.sticky_head {
			position: -webkit-sticky;
			position: -moz-sticky;
			position: -ms-sticky;
			position: -o-sticky;
			top: 55px;
/*			background: rgba(0,0,0,0.5);*/
/*			background: #3e4c68;*/
/*			background: rgba(62,76,104,1);*/
			background: #212938;
		}
		.grid thead {
			background: rgba(0,0,0,0.5);
		}
		button {
			margin-top: 5px;
			margin-bottom: 5px;
		}